<section class="border-y border-zinc-800">
  <div class="py-12 max-w-screen-xl mx-auto px-8 md:px-12">
    <h2
      class="mt-8 text-xl lg:text-6xl leading-7 text-white font-serif uppercase"
    >
      História
    </h2>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      A Associação Filarmónica Artística Pombalense, é uma das mais antigas
      colectividades do Concelho de Pombal tendo como data da sua fundação o dia
      16 de Outubro de 1867, conforme consta da escritura de constituição que
      veio a ser lavrada no Cartório Notarial de Ansião., em 29 de Novembro de
      1985.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      Por falta de registos históricos sobre a vida desta Associação não é
      possível documentar a data da sua fundação, nem a indicação dos seu sócios
      fundadores, a forma como foi constituída e as motivações que lhe deram
      origem.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      Até esta data também não foram encontrados novos registos que clarifiquem
      as dúvidas levantadas.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      Contudo, o livro “POMBAL OITO SÉCULOS DE HISTÓRIA” de autoria do
      historiador Dr. Joaquim Vitorino Videira Eusébio, cita que o jornal da
      época “O LEIRIENSE” no seu número 113 de 1 de Agosto de 1855, ao aludir às
      festas do Bodo diz: “… todos estes divertimentos foram acompanhados pela
      música de duas filarmónicas a de Maiorca e a de Pombal, distinguindo-se
      esta pelo a ceio e mesmo podemos dizer, luxo com que está vestida”.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      Em 1856, o mesmo jornal no seu número 213, de 30 de Julho, em artigo do
      seu correspondente Lino de Macedo, produz a notícia dizendo: “… que a
      procissão da Nossa Senhora do Cardal era acompanhada pela Câmara
      Municipal, por algumas pessoas responsáveis pela Vila e pela Filarmónica
      Pombalense, a qual está dando honra à terra que viu nascer. Tocou
      primorosamente”.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      É inquestionável pelo relato destes dois registos, que a Filarmónica tem
      existência anterior a 1867, podendo considerar-se com estes dados, que
      esta terá idade não inferior a 150 anos.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      Durante este percurso centenário a Filarmónica Artística Pombalense,
      resistiu a todas as vicissitudes geradas pela ocorrência de duas grandes
      guerras mundiais, que fragilizaram a sua estrutura orgânica e debilitaram
      a sua capacidade económico-financeira e os seus recursos humanos. Contudo,
      manteve indelével o principal objectivo da sua criação que era o promover
      o estudo, a defesa e a divulgação do património cultural e musical.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
        Mantêm assim a sua Escola de Música destinada ao ensino e
        aperfeiçoamento musical que representa hoje, como antigamente, a fonte
        municiadora da sua Filarmónica.
      </p>
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      A Filarmónica tem participado regularmente em Festivais, Concertos,
      Encontros de Bandas, Festas Populares, contribuindo para que se preservem
      ancestrais tradições das Bandas/Filarmónicas junto das massas populares. A
      Filarmónica tem tido actuações no estrangeiro (França) e procura
      incentivar acções de divulgação junto dos núcleos de trabalhadores
      emigrantes.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      A Associação Filarmónica Artística Pombalense, foi distinguida pela Região
      de Turismo de Leiria – Rota do Sol, com a Medalha de Prata, atribuída às
      colectividades com mais de cem anos.
    </p>
    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      Foi igualmente distinguida pela Câmara Municipal de Pombal com a Medalha
      de Prata da Cidade, pelos relevantes serviços prestados ao ensino,
      aperfeiçoamento e divulgação da música.
    </p>

    <p class="mt-2 text-lg font-light text-zinc-500 lg:text-2xl">
      Foi-lhe atribuído o Estatuto de Utilidade Pública em 17 de Agosto de 1999
      (Diário da República – II Série, n.º 191 de 17 de Agosto de 1999).
    </p>

    <div class="divide-y divide-zinc-900 mx-auto"></div>
  </div>
</section>
